.description-container {
  width: 100%;
  padding: 50px 0;
  h2 {
    margin: 20px 0;
    font-size: 24px;
    font-weight: 600;
    font-family: var(--header-font);
    text-transform: capitalize;
  }
  .description {
    p {
      font-size: 17px;
      margin-bottom: 15px;
    }
  }
}
