.info-container {
  width: 100%;
  padding: 50px 0;
  h2 {
    margin: 20px 0;
    font-size: 24px;
    font-family: var(--header-font);
    font-weight: 600;
    text-transform: capitalize;
  }
  table,
  th,
  td {
    border: none;
  }
  table {
    tbody {
      tr {
        th {
          width: auto;
          padding: 0;
          font-weight: 600;
          text-transform: capitalize;
          font-size: 20px;
          margin-right: 30px;
        }
        td {
          padding: 0;
          font-size: 18px;
        }
      }
    }
  }
}
