.product-box {
  margin-bottom: 20px;
  .product-image {
    position: relative;
    background-color: #282828;
    padding: 46px 29px 17px 35px;
    img {
      width: 100%;
    }
    .sale-box {
      position: absolute;
      width: 100%;
      text-align: left;
      top: 0;
      left: 0;
      span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        padding: 6px 7px;
        margin: 10px 0 0 10px;
        font-family: var(--header-font);
        font-size: 12px;
        line-height: 12px;
        letter-spacing: -0.3px;
        text-transform: uppercase;
        background-color: #36373e;
        color: var(--white-color);
        box-shadow: 0px 0px 58px 0px rgba(0, 0, 0, 0.5);
      }
    }
    .icons {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 10px;
      gap: 10px;
      font-size: 18px;
      opacity: 0;
      a {
        color: var(--primary-color);
        transition: var(--transition);
        .loading-favorite_icon,
        .loading-compare_icon {
          animation: loading 1s infinite ease;
        }
        &.heart {
          transition: var(--transition);
          color: #fd6d75;
        }
      }
    }
  }

  .product-content {
    color: var(--gray-color);
    margin-top: 20px;
    .product-name {
      font-size: 14px;
      font-family: var(--header-font);
      line-height: 1.44em;
    }
    .rate-box {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 20px;
      .price {
        display: flex;
        gap: 10px;

        .old-pirce {
          position: relative;

          &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 2px;
            background-color: #fd6d75;
            top: 50%;
            left: 0;
          }
        }
      }
      .star-icon {
        font-size: 12px;
        color: var(--primary-color);
      }
    }
  }
  .option-btn {
    opacity: 0;
    transform: translateY(20px);
    transition: var(--transition);
  }
  &:hover .option-btn {
    opacity: 1;
    transform: translateY(0);
  }

  &:hover .icons {
    opacity: 1;
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 767px) {
  .product-box {
    .product-image {
      .icons {
        opacity: 1;
      }
    }

    .option-btn {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
