.product-container {
    width: 100%;
    padding: 50px;
    background: url('../../assets/images/background.jpg');

    .product-list {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: auto;
        gap: 30px;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
    .product-container {
        .product-list {
            grid-template-columns: repeat(3,1fr);
        }
    }

}

@media screen and (max-width:767px) {
    .product-container {
        padding: 50px 40px;
        .product-list {
            grid-template-columns: repeat(1,1fr);
        }
    }

}